.root {
    -fx-background-color: #2b2b2b;
}

.text {
    -fx-fill: #ffffff;
}

.tab-pane {
    -fx-background-color: #3c3f41;
}

.tab {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.tab-header-background {
    -fx-background-color: #2b2b2b;
}

.table-view {
    -fx-background-color: #3c3f41;
    -fx-text-background-color: #ffffff;
    -fx-table-cell-border-color: #2b2b2b;
}

.table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-column{
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #2b2b2b;
}

.table-cell {
    -fx-background-color: #3c3f41;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


.button:hover {
    -fx-background-color: #555555;
}

.tool-bar {
    -fx-background-color: #3c3f41;
}

.text-field {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .thumb {
    -fx-opacity: 0;
    -fx-background-color: #3c3f41;
    -fx-pref-height: 0px;
    -fx-min-height: 0px;
    -fx-max-height: 0px;
}

/* estilo especifico para as bararas de busca com icone na frente */
.busca {
    -fx-background-color: #3c3f41;
    -fx-padding: 0 0 0 25;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.context-menu {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
}

.context-menu .menu-item {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #000000;
}

.context-menu .menu-item:hover {
    -fx-background-color: #555555;
}

.split-pane {
    -fx-background-color: #3c3f41;
    -fx-border-width: 1px;
}

.split-pane .split-pane-divider {
    -fx-background-color: #2b2b2b;
    -fx-border-width: 1px;
}

.split-pane:hover .split-pane-divider {
    -fx-background-color: #555555;
}

.split-pane .split-pane-divider:hover {
    -fx-background-color: #555555;
}

.menu-button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #a9a9a9;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

}

.menu-button:hover {
    -fx-background-color: #555555;
}

.menu-button:focused {
    -fx-border-color: #ffffff;
}

.menu-button .arrow {
    -fx-background-color: #ffffff;
}

.date-picker {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 10px;
}

.date-picker:hover {
    -fx-background-color: #555555;
}

.date-picker .arrow-button {
    -fx-background-color: #3c3f41;
    -fx-border-color: #a9a9a9;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #555555;
}

.date-picker-popup {
    -fx-background-color: #2b2b2b;
    -fx-border-color: #a9a9a9;
}

.date-picker-popup .calendar {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .day-cell {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #2b2b2b;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #555555;
}

.date-picker-popup .day-cell:selected {
    -fx-background-color: #a9a9a9;
    -fx-text-fill: #000000;
}

.date-picker-popup .month-year-label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}


.date-picker-popup .month-year-pane .week-pane {
    -fx-background-color: #2b2b2b;
}


.date-picker-popup .left-arrow,
.date-picker-popup .right-arrow {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .left-arrow:hover,
.date-picker-popup .right-arrow:hover {
    -fx-background-color: #555555;
}

.date-picker-popup .label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .text-field {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .day-cell {
    -fx-background-color: #3c3f41;
    -fx-text-fill: #ffffff;
    -fx-border-color: #2b2b2b;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #555555;
}

.date-picker-popup .day-cell:selected {
    -fx-background-color: #a9a9a9;
    -fx-text-fill: #000000;
}

.date-picker-popup .week-day-label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-background-color: #2b2b2b;
}
.combo-box-base .arrow-button .arrow {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .day-name-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-border-color: #3c3f41;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .month-year-label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-border-color: #3c3f41;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .calendar .month-year-pane {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .month-year-label {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-border-color: #3c3f41;
}

.date-picker-popup .calendar .month-year-pane {
    -fx-background-color: #2b2b2b;
}

.date-picker-popup .header {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
}
